<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale:1.0;" />
        <title>Camellia Discography - Home</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" />
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <style> @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); </style>
    </head>
    <body>
        <div class="main-content-container">
            <div class="title">
                <div class="inner-title">
                    <img src="{{url_for('static', filename='assets/Camellia logo.png')}}" style="height: 35vh;">
                    <div class="title-name">Discography</div>
                </div>
                <div class="background-credit">Background by Redageddon and Chai-san</div>
            </div>
            <div class="navbar-container">
                <a href="/" style="text-decoration: none;">
                    <div class="nav-opt">Home</div>
                </a>
                <a href="/discography" style="text-decoration: none;">
                    <div class="nav-opt">Discography</div>
                </a>
            </div>
            <div class="content-body">
                <div style="text-align: center; font-family: 'Lato', sans-serif; font-size: 20pt; padding: 10px; background-color: #e9e6e1;">Follow Camellia</div>
                <div class="links">
                    <a href="https://cametek.jp/" target="_blank" style="text-decoration: none; color: inherit;">
                        <div class="follow-link">
                            <img src="{{url_for('static', filename='assets/cametekjp.png')}}" class="link-icon">
                            Official Page
                        </div>
                    </a>
                    <a href="https://www.youtube.com/@Cametek.CamelliaOfficial" target="_blank" style="text-decoration: none; color: inherit;">
                        <div class="follow-link">
                            <img src="{{url_for('static', filename='assets/youtube.png')}}" class="link-icon">
                            Youtube
                        </div>
                    </a>
                    <a href="https://twitter.com/cametek" target="_blank" style="text-decoration: none; color: inherit;">
                        <div class="follow-link">
                            <img src="{{url_for('static', filename='assets/twitter.png')}}" class="link-icon">
                            Twitter
                        </div>
                    </a>
                    <a href="https://open.spotify.com/artist/4bwIf0yXJf0F9AmOl2J78M" target="_blank" style="text-decoration: none; color: inherit;">
                        <div class="follow-link">
                            <img src="{{url_for('static', filename='assets/spotify.png')}}" class="link-icon">
                            Spotify
                        </div>
                    </a>
                    <a href="https://cametek.bandcamp.com/" target="_blank" style="text-decoration: none; color: inherit;">
                        <div class="follow-link">
                            <img src="{{url_for('static', filename='assets/bandcamp.png')}}" class="link-icon">
                            Bandcamp
                        </div>
                    </a>
                    <a href="https://www.twitch.tv/cametek" target="_blank" style="text-decoration: none; color: inherit;">
                        <div class="follow-link">
                            <img src="{{url_for('static', filename='assets/twitch.png')}}" class="link-icon">
                            Twitch
                        </div>
                    </a>
                    <a href="https://discord.gg/xrzAse6" target="_blank" style="text-decoration: none; color: inherit;">
                        <div class="follow-link">
                            <img src="{{url_for('static', filename='assets/discord.png')}}" class="link-icon">
                            Discord
                        </div>
                    </a>
                </div>
                <div class="main-content">
                    <div class="sidebar-left">
                        <div class="header">About</div>
                        <div class="sidebar-paragraph">
                            <p>
                                Hi, my name is Eclypse and I developed this site to be the most complete and comprehensive discography of Camellia's music. This is an unofficial fan-site,
                                I am not affiliated with Camellia in any way. The site is currently in it's barebones phase of development, excpect more content, data, and general information in the future.
                            </p>
                        </div>
                        <div class="header">Contact</div>
                        <div class="sidebar-paragraph">
                            <p>
                                If you need to contact me for whatever reason the best way is through Discord, my username is Eclypse#4786. Before you contact me however, if you have a
                                question or similar inquiry be sure that you have thoroughly read through the other information provided on this page as there is a good chance you can
                                find what you need here. If you are the subject of any of the contents of this site, and would like something to be editted or removed down, please
                                contact me as soon as possible so that I can do so.
                            </p>
                        </div>
                    </div>
                    <div class="vertical-divider" style="background-color: #d1566a; margin-top: 20px;"></div>
                    <div class="content">
                        <div class="header">Introduction</div>
                        <p>
                            This is a fan-made site dedicated to documenting the complete musical works of Masaya Oya. Going by the name かめりあ (Romanized as Camellia), he has
                            produced hundreds of original songs and contributed music to various rhythm games such as beatmania IIDX, SOUND VOLTEX, Dance Dance Revolution, Arcaea,
                            Beat Saber, and dozens more. On his own music label, かめるかめりあ, he has released over twenty solo albums of original music, 4 solo albums through
                            Exit Tunes and Pony Canyon featuring music from his contributions to various Konami-produced arcade games, and 5 collaboration albums with singer
                            Nanahira. In his earlier years he notably produced large amounts of Vocaloid music, almost all of which was performed by 初音ミク (Hatsune Miku), as well
                            as arranging dozens of songs from the Touhou game series on labels such as Alstromeria Records. Throughout the years he has contributed music to several
                            doujin music circles' albums and been a member of a few musical groups, notably Quarks with singer kradness, and Kasai Harcores with fellow producers
                            DJ Genki and C-show. More recently, he has become a popular composer in the growing V-Tuber scene, producing the Hololive English Myth Image Soundtrack,
                            as well as several original songs for talents from major V-Tuber companies such as Hololive and Nijisanji.
                        </p>
                        <div class="header">Missing/Inaccurate information</div>
                        <p>
                            Am I missing a song that Camellia has worked on? Is one of the links dead or inncorrect? Do I have Inaccurate information on a song's page? If any of these
                            are the case, or there is another issue you would like me to address, please fill out one of the following google forms to notify me of the issue. If your
                            submission is not resolved within a couple weeks, or you are struggling to communicate the through one of the forms, you are welcome to contact me directly.
                            Before you contact me though, if your submission has not been resolved within a few weeks then there is a chance that I found that whatever correction you
                            submitted was inaccurate, be sure to review your information first to be confident that it is factual.
                        </p>
                        <div class="form-links-wrapper">
                            <div class="form-links">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_WY9ppYBmij6pOfxsmjQTy6YCEisC4V8bkse5A3KzE38puA/viewform?usp=sf_link" style="text-decoration: none;" target="_blank">
                                    <div class="form-link">Song Request</div>
                                </a>
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSedaG8-fHg3KmaqkrFuaDX6XXwul2mLKKiM73d7BpCnXUHvUw/viewform?usp=sf_link" style="text-decoration: none;" target="_blank">
                                    <div class="form-link">Information Change</div>
                                </a>
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSe4OP_rr21y3Zi4Ppvtl3o0h61ZcDby3Vi1xUmkScGVryQ9Yg/viewform?usp=sf_link" style="text-decoration: none;" target="_blank">
                                    <div class="form-link">Other</div>
                                </a>
                            </div>
                        </div>
                        <div class="header">Notes</div>
                        <p>
                            - If you're looking for the track 築地で一番美味いもの, I have chosen not to include it as I believe that KASAI HARCORES (and therefore Camellia) did not
                            actually play a role in the making of this track. On the official page for KASAI HARCORES EP the track is listed as 築地で一番美味いもの feat.
                            築地ハードスタイラーズ, which would imply that, like the other tracks that feature Nanahira, yukacco, and Edoist, the song was made by both KASAI HARCORES
                            and 築地ハードスタイラーズ (Tsukiji Hardstylers), and as a result this is what many discography sites list. However on all major streaming services and
                            DJ Genki's bandcamp the track is solely attributed Tsukiji Hardstylers, unlike the other tracks where both KASAI and the featured artist(s) are credited.
                            It's also worth mentioning that on the official page each track is not listed next to a track number, but rather an inning-number. With the album being
                            baseball themed this makes sense, but if you know anything about baseball than you know an inning consists of two parts, the top of the inning in which
                            the home team is fielding, and the bottom of the inning, in which the away team is fielding. And for every track in the tracklist, in red, the inning
                            number is followed by the kanji 回表 meaning the top of the inning, all except for 築地で一番美味いもの where, in blue, the inning number is followed by
                            the kanji 回裏 meaning the bottom of the inning. In this analogy I believe that the difference in color and inning half is meant to imply that another
                            team (that being Tsukiji Hardsytlers) is now fielding (making the song). You can click <a href="http://djgenki.net/khcd001/" target="_blank">here</a> for
                            the album's page to see what I mean.
                        </p>
                        <br>
                        <p>
                            - If you are looking for the song 心ふたつ, I am fairly confident that vgmdb is wrong and this is not actually Camellia (wouldn't be the first time it was
                            wrong). I believe this simply because for how recent of a song it is, the fact that camellia has never expressed that he worked on it is strange. In
                            addition, Camellia NEVER writes his name in katakana (like カメリア). The only time I have ever seen it written this way was from poor translation, and
                            yet every official source and distributor of PHANTASY STAR ONLINE 2 キャラクターソングCD～Song Festival～VI, writes it as カメリア, which leads me to
                            believe it is indeed someone else.
                        </p>
                        <br>
                        <p>
                            - Regarding the songs Electioneering and "8'14", both of which are credited to Camellia on discogs, I have strong reason to believe that these are
                            incorrect credits. I am fairly confident that both of them (if not, at least "8'14") are songs by a Japanese indie rock group that also goes by the name
                            Camellia. The only information I could find regarding them was <a href="http://www.aillemac.com/" target="_blank">this page</a>, but because they are so
                            obscure I can not draw a direct link between them and the songs. The best link I have found is <a href="https://youtu.be/R_PGG3mffbo" target="_blank">this
                            video</a> of "camellia" playing "8'14". On the same channel, under <a href="https://youtu.be/TkDu3P4DIBo" target="_blank">this video</a> of "camellia"
                            playing "untitled", I found the link to the band's page. As for Electioneering, it is so out of character and out of style for Camellia, and so
                            in-character and in-style for "camellia" that I can only assume that this is the same band, but I have not found any connections between the two besides
                            musical style and similar timings. Also, Camellia has never made any public acknoloedgements of either of these songs, not on his website (new and old),
                            not on twitter, not on anything.
                        </p>
                        <br>
                        <p>
                            - I have seen a theory circling that 上ノ瀬つかさ (Tsukasa Kaminose) is actually Camellia under an alias, and even vgmdb recognizes it as such, however
                            from what I've seen this theory is pretty baseless. As a result you will not find any works by 上ノ瀬つかさ here.
                        </p>
                        <div class="header">What is not included in the discography</div>
                        <p>
                            The following is a list of songs that I have not created song pages for. Many of the are old uploads from Camellia's niconico, SoundCloud, and YouTube 
                            that I can't justify making full pages for. Many of these are various meme posts, some are experimental remixes from Camellia's earlier days, and some 
                            are not full length tracks. Whatever the nature of the track is, if it is on the following list it means that it probably never had any kind of official
                            release and there isn't a real need for it to have a dedicated song page. I am mentioning them all here to preempt any submissions of these tracks as it
                            is unlikely that I'll make a page for them (Also just so I can say with confidence that this discography is complete).
                        </p>
                        <br>
                        <p>
                            NOTE: There are currently a few songs on the following list that I plan on making pages for. If you see a song that feels like it should have a page,
                            don't worry, I'll probably get around to it at some point.
                        </p>
                        <br>
                        <div id="miscSongs-wrapper">
                            {% for miscSong in miscSongs %}
                                <li>{{miscSong}}</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="footer"></div>
            </div>
        </div>
    </body>
</html>